doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Тест
        link(rel="stylesheet" href="css/style.min.css")
    body 
        .wrapper
            header.header
                input.input(type="checkbox" id="callback")
                label.btn(for="callback") Open pop-up button
                form.popup(action="#") 
                    div Pop-up
                    label.close(for="callback")
                        div X
            .container.section-one
                .section-one__block.section-one__block-one
                .section-one__block.section-one__block-two
                .section-one__block.section-one__block-three
                .section-one__block.section-one__block-four
                .section-one__block.section-one__block-five
            .container.section-two
                .section-two__block
                .section-two__block
                .section-two__block
                .section-two__block
            footer.footer
        script(src="js/app.min.js")
        