
* {
    box-sizing: border-box
}

html {
    font-family: Roboto;
    font-size: 23px;
    line-height: 1.2;
    letter-spacing:0.04em;
}
.wrapper {
    overflow: hidden;
}
button {
    //Отменяем выделение текста в кнопках
    -webkit-user-select: none;
    /* user-select -- это нестандартное свойство */

    -moz-user-select: none;
    /* поэтому нужны префиксы */

    -ms-user-select: none;
}



