///
// Vars
///
// Container break-points
// $grid-breakpoints: (
// 	min: 0px,
// 	mobile: 320px,
// 	phone: 375px,
// 	tablet: 768px,
// 	laptop: 986px,
// 	desktop: 1280px
// );

/***************COLORS*********/

// $color-general1: #50C878;
// $color-general: #EDEA5E;
// $color-general1: #F0DC82;
// $color-general1: #FFB961;

// $color-brownBeige: #8A6642;
// $color-lightBlue: #91c7f3;
// $color-red: #C62306;
// $color-white: #FFFFFF;
// $color-graywhite: #F8F8F8;
// $color-gray: #C4C4C4;
// $color-grayscale: #696969;
// $color-grayblack: #242424;


/***************RESIZE SCREEN*********/

// $desktop: 1279px;
// $laptop: 985px;
// $tablet: 767px;
// $phone: 374px;
// $mobile: 319px;
// $min: 0px;

