
//Шаблон для HEADER и FOOTER
%pattern {
    background-color: rgba(127, 175, 246, 1);
    width: 100%;
    max-width: 1170px;
    height: 100%;
    max-height: 100px;
}
//Шаблон для BLOCK
%patternBlock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    background-color: rgba(192, 219, 217, 1);
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    max-height: 1000px;
}
.header {
    display: flex;
    align-items: center;
    @extend %pattern;
    .btn {
        margin: 30.5px 30px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
        display: block; /* Это блоковый элемент */
        border-radius: 5px; /* Закругляем углы */
        padding: 8px 15px;
        background-color: rgba(165, 199, 249, 1);
        cursor: pointer;
        // transition: 0.3s all; /* Плавный переход */
    }
    .popup {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 400px;
        background-color: rgba(255, 255, 255, 1);
        position: absolute;
        color: #000;
        left: 50%;
        transform: translate(-50%);
        top: -999px;
        font-style: normal;
        font-weight: 400;
        font-size: 53px;
        line-height: 62px;
        color: #000000;
    }
    #callback:checked ~ .popup {
        top: 100px;
    }
    #callback {
        display: none;
    }
    .close {
        width: 39px;
        height: 39px;
        background-color: rgba(127, 175, 246, 1);
        border-radius: 5px;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.button {}
.container {}

.section-one {
    margin-top: 15px;
    background-color: rgba(179, 249, 90, 1);
    width: 100%;
    max-width: 1170px;
    height: 100%;
    max-height: 411px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    &__block {
        height: 100%;
        max-height: 198px;
        background-color: rgba(138, 209, 145, 1);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 53px;
        line-height: 62px;
        color: #FFFFFF;
        &-one {
            @extend %patternBlock;
            max-width: 390/1170*100%;
            &:after {
                content: "1";
                display: block;
            }
        }
        &-two {
            max-width: 590/1170*100%;
            @extend %patternBlock;
            &:after {
                content: "2";
                display: block;
            }
        }
        &-three{
            max-width: 160/1170*100%;
            @extend %patternBlock;
            &:after {
                content: "3";
                display: block;
            }
        }
        &-four{
            align-self: flex-end;
            max-width: 995/1170*100%;
            @extend %patternBlock;
            &:after {
                content: "4";
                display: block;
            }
        }
        &-five{
            align-self: flex-end;
            max-width: 160/1170*100%;
            @extend %patternBlock;
            align-items: center;
            &:after {
                content: "5";
                display: block;
            }
        }
    }
}
.section-two {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(136, 181, 191, 1);
    width: 100%;
    max-width: 1170px;
    height: 100%;
    max-height: 259px;
    &__block {
        margin: 30px 15px;         
        background-color: rgba(13, 137, 176, 1);
        width: 25%;
        &:first-child {
            margin-left: 30px;
        }
        &:last-child {
            margin-right: 30px;
        }
        &:after {
            content: "";
            padding-top: 199/255*100%;
            display: block;
        }
    }
}
.footer{
    margin-top: auto;
    @extend %pattern;
}

